.nav_l{
    margin-left:520px;
}

.header{
    font-size:25px;text-align:center;letter-spacing: 40px;margin:20px auto;
}
.layui-nav{background-color:#98AED7;}
#new {margin-left:20px;}
.people{margin-left:20px;}
.layui-table{text-align: center;}
