<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>管理页面</title>
    <script src="../common/jquery/jquery.min.js"></script>
    <script src="../js/manage.js"></script>
</head>
<body>
欢迎
<button id="user_bt">未登录</button>
</body>
    <!--<script>-->
        <!--console.log("1");-->
        <!--$(document).ready(function(){-->
            <!--console.log("2");-->
            <!--$.ajax({-->
                <!--type: "POST",-->
                <!--url:"/user_get",-->
                <!--dataType: "json",-->
                <!--data: {},-->
                <!--success: function(rtdata){-->
                    <!--console.log(rtdata);-->
                    <!--console.log("23234234324234");-->
                    <!--// window.body.html(rtdata.username);-->
                <!--}-->

            <!--});-->
        <!--});-->

    <!--</script>-->
</html>